/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 24, 2018, 8:37:59 AM
    Author     : genebuchite
*/
.buttonE {
    background-color: blueviolet; /* Green */
    border: none;
    color: white;
    padding: 1px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 10px;
}  
.buttonG {
    background-color: lightgreen; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.buttonC {
    background-color: lightsteelblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}  
.buttonS {
    background-color: lightsalmon; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}  
.buttonH {
    background-color: lightgreen;
    border:#FF0000;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Create 2 unequal columns that float next to each other */
.column {
    float: left;
    width: 70%;
    padding: 3px;
}
.column2 {
    float: right;
    width: 25%;
    padding: 1px;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create 4 equal columns that float next to each other */
.column4 {
    float: left;
    width: 25%;
    padding: 3px;
}
.column5 {
    float: center;
    width: 25%;
    padding: 1px;

}
.column6 {
    float: right;
    width: 25%;
    padding: 1px;

}
.column7 {
    float: right;
    width: 25%;
    padding: 1px;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.button {
    background-color: lightsalmon;

}

.button1 {font-size: 10px;}
.button5 {font-size: 68px;
          background-color: lightgreen; /* Green */
}

.flex-containers {
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
    width:400;
    margin-left: 16px;

}
.flex-container > button {
    text-align: center;
    width: 100px;
    height: 100px;


}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
    width:1080px;
    margin-left: 16px;



}

.flex-container > button {
    background-color: green;
    text-align: center;
    font-size: 32px;;
    padding: 64px 64px;
}

.button1 {font-size: 10px;}
.flex-container > button5 {
    font-size: 64px;
    background-color: lightgreen; /* Green */
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 2px;
    text-align: center;
    line-height: 13px;
    font-size: 13px;
}   

.flex-container > divl {
    background-color: lightyellow;
    width: 250px;
    margin: 2px;
    text-align: center;
    line-height: 13px;
    font-size: 13px;
} 
.flex-container > divs {
    background-color: lightskyblue;
    width: 20px;
    margin: 2px;
    text-align: center;
    line-height: 13px;
    font-size: 13px;
} 

#overflowTest {
    background: lightsteelblue;
    color: white;
    padding: 15px;
    width: 106%;
    height: 540px;
    overflow: scroll;
    border: 1px solid #ccc;
}
#td {
    color:black;
    font-weight: bolder;
}

